In [1]:
import pandas as pd
import numpy as np


%matplotlib inline

In [2]:
df_CuentasCRM = pd.read_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Data/CuentasCRM-03302023.csv')

df_Trans_2022 = pd.read_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Data/Trans-2022.csv')

df_Trans_2023 = pd.read_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Data/Trans-2023.csv')

df_transactionCode = pd.read_excel('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Data/transactionCode.xlsx')

df_CustomerRisk = pd.read_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Data/CustomerRisk.csv')

df_CustomerPF = pd.read_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Data/CustomerPF-05032023.csv')

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\2522688220.py:3: DtypeWarning: Columns (0,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Trans_2022 = pd.read_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Data/Trans-2022.csv')
C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\2522688220.py:5: DtypeWarning: Columns (0,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Trans_2023 = pd.read_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Data/Trans-2023.csv')

In [3]:
df_Trans = pd.concat([df_Trans_2022, df_Trans_2023], ignore_index=True)

In [4]:
df_CustomerPF['CustomerCode'] = df_CustomerPF['CustomerCode'].astype('str')

In [5]:
df_CustomerPF['CustomerCode'] = df_CustomerPF['CustomerCode'].str.replace(" ",  "")

In [6]:
df_CustomerPF = df_CustomerPF.drop_duplicates(subset = 'CustomerCode', keep='first')

In [7]:
df_CustomerPF = df_CustomerPF.replace(np.nan, 1000, regex=True)

In [8]:
df_CustomerRisk = df_CustomerRisk.rename(columns=df_CustomerRisk.iloc[0])

df_CustomerRisk = df_CustomerRisk.drop(df_CustomerRisk.index[0])

In [9]:
df_CustomerRisk.rename(columns={"Client Code":"CustomerCode"}, inplace=True)

In [10]:
df_CustomerRisk = df_CustomerRisk[['CustomerCode', 'Riesgo', 'PEP']]

In [11]:
df_Trans = df_Trans[df_Trans['AccountCurrency'] == 'USD']

In [12]:
df_CuentasCRM_Official = df_CuentasCRM[['AccountNumber', 'CustomerCode','PersonalOrBusiness']]

In [13]:
df_CuentasCRM_Official['AccountNumber'] = df_CuentasCRM_Official['AccountNumber'].astype('str')

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\3679408515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CuentasCRM_Official['AccountNumber'] = df_CuentasCRM_Official['AccountNumber'].astype('str')

In [14]:
df_CuentasCRM_Official['CustomerCode'] = df_CuentasCRM_Official['CustomerCode'].astype('str')

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\2218115866.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CuentasCRM_Official['CustomerCode'] = df_CuentasCRM_Official['CustomerCode'].astype('str')

In [15]:
df_Trans_Official = df_Trans[['AccountNumber', 'TransactionDate', 'Category', 'Amount']]

In [16]:
df_Trans_Official['AccountNumber'] = df_Trans_Official['AccountNumber'].astype('str')

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\2666250959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Trans_Official['AccountNumber'] = df_Trans_Official['AccountNumber'].astype('str')

In [17]:
df_Trans_Official['Date'] = pd.to_datetime(df_Trans_Official['TransactionDate']).dt.date

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\2868595543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Trans_Official['Date'] = pd.to_datetime(df_Trans_Official['TransactionDate']).dt.date

In [18]:
df_Trans_Official['Month'] = pd.to_datetime(df_Trans_Official['Date']).dt.month_name()

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\3310060153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Trans_Official['Month'] = pd.to_datetime(df_Trans_Official['Date']).dt.month_name()

In [19]:
df_Trans_Official['Year'] = pd.to_datetime(df_Trans_Official['Date']).dt.year

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\1364853294.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Trans_Official['Year'] = pd.to_datetime(df_Trans_Official['Date']).dt.year

In [20]:
df_Trans_Official['Year'] = df_Trans_Official['Year'].astype('str')

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\3763192203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Trans_Official['Year'] = df_Trans_Official['Year'].astype('str')

In [21]:
df_Trans_Official['Month_Year'] = df_Trans_Official['Month'] + '_' + df_Trans_Official['Year']

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\1738408726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Trans_Official['Month_Year'] = df_Trans_Official['Month'] + '_' + df_Trans_Official['Year']

# Merge of Tables

In [22]:
df_CuentasCRM_Official = df_CuentasCRM_Official.merge(df_CustomerRisk, on='CustomerCode', how='left')

In [23]:
df_CuentasCRM_Official['Riesgo'] = df_CuentasCRM_Official['Riesgo'].fillna('HR')

In [24]:
df_Trans_CustomerCode = df_Trans_Official.merge(df_CuentasCRM_Official, on = 'AccountNumber', how = 'outer')

In [25]:
df_CuentasCRM_Official_Risk = df_CuentasCRM_Official[['CustomerCode', 'Riesgo', 'PEP']]

# Pivot Tables

In [26]:
CategoriesIn = ['Internal Transfers In', 'ACH In', 'Checks Deposited', 'Wires In', 'Cash In', 'ATM In']

isCategoryIn = df_Trans_CustomerCode['Category'].isin(CategoriesIn)

CategoriesOut = ['ACH Out', 'Internal Transfers Out', 'Wires Out', 'Cash Out', 'Checks Issued', 'ATM Out', 'Bank Checks Purchased'] 

isCategoryOut = df_Trans_CustomerCode['Category'].isin(CategoriesOut)

In [27]:
df_Trans_CustomerCode_CatIn = df_Trans_CustomerCode[isCategoryIn]

df_Trans_CustomerCode_CatOut = df_Trans_CustomerCode[isCategoryOut]

In [28]:
df_Trans_CustomerCode_CatIn['CustomerCode'].nunique()

1904

In [29]:
df_nulos = df_Trans_CustomerCode_CatIn[df_Trans_CustomerCode_CatIn['CustomerCode'].isnull()]

In [30]:
df_AccountNumbers_Sin_CustomerCode = pd.DataFrame(list(df_nulos['AccountNumber'].unique()), columns=['AccountNumber'])

In [31]:
df_nulos['AccountNumber'].nunique()

165

## Pivot In Categories

In [32]:
def DescarteValores(df):
    
    columns = df.columns
    
    for lab, row in df.iterrows():
        
        for col in columns:
            
            if row[col] < 1000:
                
                row[col] = 0
            
            else:
                
                continue
    
    return df

In [33]:
def Promedios(pivot):
    
    pivot = DescarteValores(pivot)
    
    columns = list(pivot.columns)
    
    columns.remove('MaxValue')
    
    pivot['Suma_con_Max'] = 0
    
    for col in columns:
        
        pivot['Suma_con_Max'] += pivot[col]
    
    pivot['Suma_sin_Max'] = pivot['Suma_con_Max'] - pivot['MaxValue']
    
    pivot['Count'] = 0
    
    #promedio sin max
    
    for lab, row in pivot.iterrows():
        
        for col in columns:
            
            if row[col] > 0:
                
                row['Count'] += 1
                
            else:
                
                continue
                
        pivot.loc[lab, 'Count'] = row['Count']
    
    pivot['Promedio_sin_Max'] = pivot['Suma_sin_Max']/(pivot['Count'] - 1)
    
    pivot['Promedio_con_Max'] = pivot['Suma_con_Max']/pivot['Count']
    
    return pivot

In [34]:
def MontoPerfilTransaccional(pivot, columnName):
    
    for lab, row in pivot.iterrows():
        
        if row['MaxValue'] > 3*row['Promedio_sin_Max']:
            
            pivot.loc[lab, columnName] = row['Promedio_sin_Max']
            
        else:
            
            pivot.loc[lab, columnName] = row['Promedio_con_Max']
            
    return pivot

## Calculo de Monto Perfil Transaccional

In [35]:
def Piso(df, column):
    
    for lab, row in df.iterrows():
        
        if row[column] < 10000:
            
            df.loc[lab, column] = 10000
        
        else:
            
            continue
    
    return df

In [36]:
def CalculoDesviacion(df, columnName):
    
    for lab, row in df.iterrows():
        
        df.loc[lab, 'Desviacion'] = (row[columnName] - row['PerfilFinanciero'])/row['PerfilFinanciero']
        
    return df

In [37]:
def FactorMultiplicador(df):
    
    for lab, row in df.iterrows():
        
        if row['Desviacion'] > 0:
            
            if row['PEP'] == 'PEP':
                    
                df.loc[lab, 'Factor_Multiplicador'] = 1
                
            else:
                
                if row['Riesgo'] == 'HR':
                    
                    if row['Desviacion'] <= 1:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.900
                        
                    elif (row['Desviacion'] > 1) & (row['Desviacion'] <= 5):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.925
                        
                    elif (row['Desviacion'] > 5) & (row['Desviacion'] <= 10):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.950
                        
                    elif row['Desviacion'] > 10:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.975
                
                elif row['Riesgo'] == 'MR':
                    
                    if row['Desviacion'] <= 1:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.700
                        
                    elif (row['Desviacion'] > 1) & (row['Desviacion'] <= 5):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.750
                        
                    elif (row['Desviacion'] > 5) & (row['Desviacion'] <= 10):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.800
                        
                    elif row['Desviacion'] > 10:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.850
                        
                elif row['Riesgo'] == 'LR':
                    
                    if row['Desviacion'] <= 1:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.500
                        
                    elif (row['Desviacion'] > 1) & (row['Desviacion'] <= 5):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.600
                        
                    elif (row['Desviacion'] > 5) & (row['Desviacion'] <= 10):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.700
                        
                    elif row['Desviacion'] > 10:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.750
        
        elif row['Desviacion'] < 0:
            
            if row['PEP'] == 'PEP':
                    
                df.loc[lab, 'Factor_Multiplicador'] = 0
                
            else:
                
                if row['Riesgo'] == 'HR':
                    
                    if row['Desviacion'] <= 1:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.100
                        
                    elif (row['Desviacion'] > 1) & (row['Desviacion'] <= 5):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.075
                        
                    elif (row['Desviacion'] > 5) & (row['Desviacion'] <= 10):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.050
                        
                    elif row['Desviacion'] > 10:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.025
                
                elif row['Riesgo'] == 'MR':
                    
                    if row['Desviacion'] <= 1:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.300
                        
                    elif (row['Desviacion'] > 1) & (row['Desviacion'] <= 5):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.250
                        
                    elif (row['Desviacion'] > 5) & (row['Desviacion'] <= 10):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.200
                        
                    elif row['Desviacion'] > 10:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.150
                        
                elif row['Riesgo'] == 'LR':
                    
                    if row['Desviacion'] <= 1:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.500
                        
                    elif (row['Desviacion'] > 1) & (row['Desviacion'] <= 5):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.400
                        
                    elif (row['Desviacion'] > 5) & (row['Desviacion'] <= 10):
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.300
                        
                    elif row['Desviacion'] > 10:
                        
                        df.loc[lab, 'Factor_Multiplicador'] = 0.250
    
    return df

In [38]:
def PerfilContraste(df, columnName, columnCont):
    
    for lab, row in df.iterrows():
        
        df.loc[lab, columnName] = row[columnCont] - (row['PerfilFinanciero']*row['Desviacion']*row['Factor_Multiplicador'])
        
    return df

In [39]:
df_pivotIn = pd.pivot_table(df_Trans_CustomerCode_CatIn, values = 'Amount', index = 'CustomerCode', columns= 'Month_Year', aggfunc=np.sum, fill_value=0)

In [40]:
df_pivotIn['MaxValue'] = df_pivotIn.max(axis='columns')

In [106]:
df_pivotIn.head()

Month_Year,April_2022,August_2022,December_2022,February_2022,February_2023,January_2022,January_2023,July_2022,June_2022,March_2022,...,November_2022,October_2022,September_2022,MaxValue,Suma_con_Max,Suma_sin_Max,Count,Promedio_sin_Max,Promedio_con_Max,CreditAmount
CustomerCode,,,,,,,,,,,,,,,,,,,,,
100001,107118.70,196023.81,145742.43,167590.34,148833.26,158382.61,100994.50,161100.81,206638.38,148280.00,...,36282.81,153638.25,274004.60,504222.52,2617836.58,2113614.06,15,150972.432857,174522.438667,150972.432857
100002,0.00,10728.91,18600.00,10300.00,9500.00,34748.46,9500.00,10250.00,17443.50,20500.00,...,22400.00,11550.00,15200.00,34748.46,209877.62,175129.16,14,13471.473846,14991.258571,14991.258571
100003,311352.43,218574.14,758900.13,56484.33,59306.05,275065.39,339237.65,337894.47,256834.32,96684.31,...,50556.02,292237.92,44543.04,758900.13,3519841.62,2760941.49,15,197210.106429,234656.108000,197210.106429
100006,8000.00,0.00,3765.03,8581.33,0.00,70250.00,1000.00,0.00,21450.00,0.00,...,5688.90,0.00,1500.00,70250.00,123055.46,52805.46,10,5867.273333,12305.546000,5867.273333
100011,0.00,1900.00,0.00,0.00,0.00,0.00,0.00,1150.00,23250.00,0.00,...,1700.00,0.00,1400.00,23250.00,29400.00,6150.00,5,1537.500000,5880.000000,1537.500000

In [41]:
df_pivotIn_Promedios = Promedios(df_pivotIn)

In [42]:
df_CreditAmount = MontoPerfilTransaccional(df_pivotIn_Promedios, 'CreditAmount')

In [43]:
df_CreditAmount_Financiero = df_CreditAmount.merge(df_CustomerPF, on='CustomerCode', how='outer')

In [44]:
df_CreditAmount_Financiero = df_CreditAmount_Financiero.merge(df_CuentasCRM_Official_Risk, on = 'CustomerCode', how='outer')

In [45]:
df_CreditAmount_Financiero = df_CreditAmount_Financiero.drop_duplicates(subset=['CustomerCode'], keep='first')

In [46]:
df_CreditAmount_Financiero['PerfilFinanciero'] = df_CreditAmount_Financiero['PerfilFinanciero'].fillna(10000)

In [47]:
df_CreditAmount_Financiero['CreditAmount'] = df_CreditAmount_Financiero['CreditAmount'].fillna(0)

In [48]:
df_CreditAmount_Financiero['Riesgo'] = df_CreditAmount_Financiero['Riesgo'].fillna('HR')

In [49]:
df_CreditAmount_Financiero_Desviacion = CalculoDesviacion(df_CreditAmount_Financiero, 'CreditAmount')

In [50]:
df_CreditAmount_Desviacion_FactorRiesgo = FactorMultiplicador(df_CreditAmount_Financiero_Desviacion)

In [51]:
df_CreditAmount_Desviacion_FactorRiesgo['Factor_Multiplicador'] = df_CreditAmount_Desviacion_FactorRiesgo['Factor_Multiplicador'].fillna(0)

In [52]:
df_CreditAmount_PerfilContraste = PerfilContraste(df_CreditAmount_Desviacion_FactorRiesgo, 'CreditAmount_Contraste', 'CreditAmount')

In [107]:
df_CreditAmount_PerfilContraste.head()

,CustomerCode,April_2022,August_2022,December_2022,February_2022,February_2023,January_2022,January_2023,July_2022,June_2022,...,Count,Promedio_sin_Max,Promedio_con_Max,CreditAmount,PerfilFinanciero,Riesgo,PEP,Desviacion,Factor_Multiplicador,CreditAmount_Contraste
0,100001,107118.70,196023.81,145742.43,167590.34,148833.26,158382.61,100994.50,161100.81,206638.38,...,15.0,150972.432857,174522.438667,150972.432857,10000.00000,HR,PEP,14.097243,1.000,10000.000000
9,100002,0.00,10728.91,18600.00,10300.00,9500.00,34748.46,9500.00,10250.00,17443.50,...,14.0,13471.473846,14991.258571,14991.258571,20000.00000,MR,NaN,-0.250437,0.300,16493.881000
11,100003,311352.43,218574.14,758900.13,56484.33,59306.05,275065.39,339237.65,337894.47,256834.32,...,15.0,197210.106429,234656.108000,197210.106429,10000.00000,HR,NaN,18.721011,0.975,14680.252661
17,100006,8000.00,0.00,3765.03,8581.33,0.00,70250.00,1000.00,0.00,21450.00,...,10.0,5867.273333,12305.546000,5867.273333,10000.00000,LR,NaN,-0.413273,0.500,10000.000000
22,100011,0.00,1900.00,0.00,0.00,0.00,0.00,0.00,1150.00,23250.00,...,5.0,1537.500000,5880.000000,1537.500000,31800.49579,HR,PEP,-0.951652,0.000,10000.000000

In [53]:
df_CreditAmount_PerfilContraste_Piso = np.round(Piso(df_CreditAmount_PerfilContraste, 'CreditAmount_Contraste'),2)

In [54]:
df_CreditAmount_Perfil_Final = df_CreditAmount_PerfilContraste_Piso[['CustomerCode', 'CreditAmount_Contraste']]

In [108]:
df_CreditAmount_Perfil_Final.head()

   CustomerCode  CreditAmount
0        100001      10000.00
9        100002      16493.88
11       100003      14680.25
17       100006      10000.00
22       100011      10000.00

In [55]:
df_CreditAmount_Perfil_Final.rename(columns={'CreditAmount_Contraste':'CreditAmount'}, inplace=True)

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\2138613582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CreditAmount_Perfil_Final.rename(columns={'CreditAmount_Contraste':'CreditAmount'}, inplace=True)

In [56]:
#df_CreditAmount_PerfilContraste_Piso.to_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Reportes/ALCAPET_v3_Credit_check.csv')

## Conteo de Transacciones IN

In [57]:
def DescarteConteos(pivotConteo, columnsConteo):
    
    columns = columnsConteo
    
    for lab, row in pivotConteo.iterrows():
        
        for col in columns:
            
            col_cont = col + '_cont'
            
            col_cant = col + '_cant'
            
            if row[col_cant] < 1000:
                
                pivotConteo.loc[lab, col_cont] = 0
                
            else:
                
                continue
                
    return pivotConteo

In [58]:
def PromedioConteo(pivot, name, columnsConteo):
    
    columns =[]
    
    for col in columnsConteo:
        
        col = col + '_cont'
        
        columns.append(col)
    
    pivot['Count'] = 0
    
    #promedio sin max
    
    for lab, row in pivot.iterrows():
        
        for col in columns:
            
            if row[col] > 0:
                
                row['Count'] += 1
                
            else:
                
                continue
                
        pivot.loc[lab, 'Count'] = row['Count']
    
    pivot[name] = np.round(pivot['TotalConteo']/pivot['Count'],0)
    
    return pivot

In [59]:
def MinConteo(df_conteo, colname):
    
    for lab, row in df_conteo.iterrows():
        
        if row[colname] < 10:
            
            df_conteo.loc[lab,colname] = 10
            
        else:
            
            continue
            
    return df_conteo

In [60]:
df_pivotIn_meses = df_CreditAmount_Financiero.drop(['MaxValue', 'Suma_con_Max', 'Suma_sin_Max', 'Count', 'Promedio_sin_Max', 'Promedio_con_Max', 'CreditAmount', 'PerfilFinanciero', 'Riesgo', 'PEP', 'Desviacion', 'Factor_Multiplicador', 'CreditAmount_Contraste'], axis=1)

In [61]:
df_pivotConteo_IN = pd.pivot_table(df_Trans_CustomerCode_CatIn, values= 'Amount', index='CustomerCode', columns='Month_Year', aggfunc= 'count', fill_value=0)

In [62]:
columnsConteo = list(df_pivotConteo_IN.columns)

In [63]:
df_pivotConteo_IN = df_pivotConteo_IN.merge(df_pivotIn_meses, on='CustomerCode', suffixes= ('_cont', '_cant'), how = 'outer')

In [64]:
df_pivotConteo_IN = df_pivotConteo_IN.fillna(0)

In [65]:
df_pivotConteo_IN = DescarteConteos(df_pivotConteo_IN, columnsConteo)

In [66]:
toErase = []

for col in columnsConteo:
    
    col = col + '_cant'
    
    toErase.append(col)

df_pivotConteo_IN = df_pivotConteo_IN.drop(toErase, axis = 1)

In [67]:
df_pivotConteo_IN['TotalConteo'] = 0

for col in columnsConteo:
    
    col = col + '_cont'
    
    df_pivotConteo_IN['TotalConteo'] += df_pivotConteo_IN[col]

In [68]:
df_pivotConteo_IN = PromedioConteo(df_pivotConteo_IN, 'CreditQty', columnsConteo)

In [69]:
df_pivotConteo_IN['CreditQty'] = df_pivotConteo_IN['CreditQty'].fillna(0)

In [70]:
df_CreditQty = df_pivotConteo_IN[['CustomerCode','CreditQty']]

In [71]:
df_CreditQty = MinConteo(df_CreditQty, 'CreditQty')

## Pivot Out Categories

In [72]:
df_pivotOut = pd.pivot_table(df_Trans_CustomerCode_CatOut, values = 'Amount', index = 'CustomerCode', columns= 'Month_Year', aggfunc=np.sum, fill_value=0)

In [73]:
df_pivotOut['MaxValue'] = df_pivotOut.max(axis='columns')

In [74]:
df_pivotOut_Promedios = Promedios(df_pivotOut)

In [75]:
df_DebitAmount = MontoPerfilTransaccional(df_pivotOut_Promedios, 'DebitAmount')

In [76]:
df_DebitAmount_Financiero = df_DebitAmount.merge(df_CustomerPF, on='CustomerCode', how='outer')

In [77]:
df_DebitAmount_Financiero = df_DebitAmount_Financiero.merge(df_CuentasCRM_Official_Risk, on = 'CustomerCode', how = 'outer')

In [78]:
df_DebitAmount_Financiero = df_DebitAmount_Financiero.drop_duplicates(subset=['CustomerCode'], keep='first')

In [79]:
df_DebitAmount_Financiero['PerfilFinanciero'] = df_DebitAmount_Financiero['PerfilFinanciero'].fillna(10000)

In [80]:
df_DebitAmount_Financiero['DebitAmount'] = df_DebitAmount_Financiero['DebitAmount'].fillna(0)

In [81]:
df_DebitAmount_Financiero['Riesgo'] = df_DebitAmount_Financiero['Riesgo'].fillna('HR')

In [82]:
df_DebitAmount_Financiero_Desviacion = CalculoDesviacion(df_DebitAmount_Financiero, 'DebitAmount')

In [83]:
df_DebitAmount_Desviacion_FactorRiesgo = FactorMultiplicador(df_DebitAmount_Financiero_Desviacion)

In [84]:
df_DebitAmount_Desviacion_FactorRiesgo['Factor_Multiplicador'] = df_DebitAmount_Desviacion_FactorRiesgo['Factor_Multiplicador'].fillna(0)

In [85]:
df_DebitAmount_PerfilContraste = PerfilContraste(df_DebitAmount_Desviacion_FactorRiesgo, 'DebitAmount_Contraste', 'DebitAmount')

In [86]:
df_DebitAmount_PerfilContraste_Piso = np.round(Piso(df_DebitAmount_PerfilContraste, 'DebitAmount_Contraste'),2)

In [87]:
df_DebitAmount_Perfil_Final = df_DebitAmount_PerfilContraste_Piso[['CustomerCode', 'DebitAmount_Contraste']]

In [88]:
df_DebitAmount_Perfil_Final.rename(columns= {'DebitAmount_Contraste':'DebitAmount'}, inplace=True)

C:\Users\p_bon\AppData\Local\Temp\ipykernel_7356\3458703251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_DebitAmount_Perfil_Final.rename(columns= {'DebitAmount_Contraste':'DebitAmount'}, inplace=True)

## Conteo Out Categories

In [89]:
df_pivotOut_meses = df_DebitAmount_Financiero.drop(['MaxValue', 'Suma_con_Max', 'Suma_sin_Max', 'Count', 'Promedio_sin_Max', 'Promedio_con_Max', 'DebitAmount', 'PerfilFinanciero', 'Riesgo', 'PEP', 'Desviacion', 'Factor_Multiplicador', 'DebitAmount_Contraste'], axis=1)

In [90]:
df_pivotConteo_Out = pd.pivot_table(df_Trans_CustomerCode_CatOut, values= 'Amount', index='CustomerCode', columns='Month_Year', aggfunc= 'count', fill_value=0)

In [91]:
columnsConteo_Out = list(df_pivotConteo_Out.columns)

In [92]:
df_pivotConteo_Out = df_pivotConteo_Out.merge(df_pivotOut_meses, on='CustomerCode', suffixes= ('_cont', '_cant'), how = 'outer')

In [93]:
df_pivotConteo_Out = df_pivotConteo_Out.fillna(0)

In [94]:
df_pivotConteo_Out = DescarteConteos(df_pivotConteo_Out, columnsConteo_Out)

In [95]:
toErase = []

for col in columnsConteo_Out:
    
    col = col + '_cant'
    
    toErase.append(col)

df_pivotConteo_Out = df_pivotConteo_Out.drop(toErase, axis = 1)

In [96]:
df_pivotConteo_Out['TotalConteo'] = 0

for col in columnsConteo_Out:
    
    col = col + '_cont'

    df_pivotConteo_Out['TotalConteo'] += df_pivotConteo_Out[col]

In [97]:
df_pivotConteo_Out = PromedioConteo(df_pivotConteo_Out, 'DebitQty', columnsConteo_Out)

In [98]:
df_pivotConteo_Out['DebitQty'] = df_pivotConteo_Out['DebitQty'].fillna(0)

In [99]:
df_DebitQty = df_pivotConteo_Out[['CustomerCode','DebitQty']]

In [100]:
df_DebitQty = MinConteo(df_DebitQty, 'DebitQty')

# Slicing and Merging PreFinal Tables

### Totalizing Perfil Financiero

In [101]:
df_Monto_Perfil_Transaccional = df_CreditAmount_Perfil_Final.merge(df_CreditQty, on='CustomerCode')

In [102]:
df_Monto_Perfil_Transaccional = df_Monto_Perfil_Transaccional.merge(df_DebitAmount_Perfil_Final, on='CustomerCode')

In [103]:
df_Monto_Perfil_Transaccional = df_Monto_Perfil_Transaccional.merge(df_DebitQty, on='CustomerCode')

In [104]:
df_Monto_Perfil_Transaccional = df_Monto_Perfil_Transaccional.set_index('CustomerCode')

In [105]:
df_Monto_Perfil_Transaccional.head()

              CreditAmount  CreditQty  DebitAmount  DebitQty
CustomerCode
100001            10000.00       10.0     10000.00      23.0
100002            16493.88       10.0     16302.83      19.0
100003            14680.25       11.0     16973.33      24.0
100006            10000.00       10.0     10000.00      10.0
100011            10000.00       10.0     18500.00      10.0

In [285]:
df_Monto_Perfil_Transaccional.to_csv('C:/Users/p_bon/Proyectos/SIA_PARTNERS/Prival/Output/Monto_Perfil_Transaccional_ALCAPETv3_Mayo10.csv')